
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');


.hero{
   /* display: flex; */
    
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
    margin-top: 3rem;
    padding: 20px 0px;
    overflow: hidden;
    height: auto;
    max-width: 50%;
    margin: auto;
    border-radius: 1rem;
    backdrop-filter: blur(0px);
    transition: 1.5s;
    
}

.hero:hover{
    background-color: rgba(0, 0, 0, 0.795);
    transition: 1s;
    padding: 25px 5px;
}


p{
    color: rgba(10, 241, 230, 0.493);
    padding-top: 3rem;
    margin: 1rem 3rem;
    background-color: rgba(0, 0, 0, 0);
    font-size: large;
}

h2{
    text-shadow: 1px 3px 3px aqua;
    font-size: 2rem;
    letter-spacing: 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 1rem 0rem;
}

body{
    background-image: url("ballon-bday.jpg");
    backdrop-filter: blur(0px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.lbl{
    color: black;
    background-color: aqua;
}

input{
    padding: 0.5rem 2rem;
    margin: 5rem;
    background-color: rgba(255, 255, 255, 0);
    color: aqua;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: aqua;
    font-family: 'Raleway', sans-serif;
    transition: 1.5s;
}

input:hover{
    transition: 0.5s;
    padding: 0.6rem 2.2rem;
    margin: 5rem;
    background-color: white; 
    color: black;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: aqua;
    font-family: 'Raleway', sans-serif;
}


#show-btn{
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.644);
    color: aqua;
    border: 1rem solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: aqua;
    transition: 1.5s;
}

#show-btn:hover{
   
    transition: 1s;
    cursor: pointer;
    margin: 2rem;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    background-color: aqua;
    color: black;
    border: 1rem solid;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-color: black;
}



#prevPalindrome,#nextPalindrome{
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
    font-size: larger;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 1.5rem;

}

/*footer*/

footer{
    background-color: rgba(0, 0, 0, 0.616);
    /* margin-left: -9rem;
    margin-right: -9rem; */
    margin: -10px;
    margin-top: 1.5rem;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
    transition: 1.5s;
    
}

footer:hover{
    background-color: rgba(0, 0, 0, 0.767);
    transition: 1s;
}
.fa {
    padding: 10px;
    font-size: larger;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2rem;
    color: white;
    transition: 1s;
  }

  .fa-github:hover{
      color: #624a85;
     margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
}

  .fa-linkedin:hover{
      color: #0e76a8 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-twitter:hover{
      color:#1DA1F2;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }

  .fa-instagram:hover{
      color:#fb3958 ;
      margin: 0px 50px;
     transition: 1s;
     font-size: xx-large;
  }
  
  footer h3{
      
      padding: 3rem;
      margin: auto;
      text-align: center;
      color: gray;
  }

  .icon{
      margin-left: 2rem;
      padding: auto;
      text-align: center;
      font-size: x-large;
  }